<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Xception</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css',
        media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="main-header">
      <%= render 'shared/main_header' %>
    </header>
    <div id="main-container">
      <%= yield %>
    </div>
  </body>
</html>
